/*Custom Styles*/

a {
    color: #252e20;
}

a.active {
    color: #252e20!important;
}

li.nav > a {
    color: #fffae8;
}

nav a.active {
    color: #9da599!important;
}

a:hover {
    color: #5a6255!important;
}

button:hover, .btn-primary:hover {
    background-color: #5a6255!important;
    border-color: #5a6255!important;
}

button, .btn-primary {
    background-color: #252e20!important;
    border-color: #9da599!important;

}

nav button {
    background-color: #9da599!important;
}

.text-primary {
    color: #252e20!important;
}



.timeline-image {
    background-color: #252e20!important;
}

input:focus, .form-control:focus-within {
    border-color: #5a6255!important;
}


#promoBanner {
    border: 10px solid #252e20;
    padding: 10px;
}

#homeLandingImage {
    background-attachment: fixed!important;
    /*background: linear-gradient(rgba(37,46,32,0.73) 100%, rgba(245,229,195, 1) 100%),url(&quot;../img/home/Interior.jpg&quot;) center / cover;*/
}